<div class="container">
  <div  [hidden]="submitted">
    <h1>Job Application Form</h1>
    <form *ngIf="active" (ngSubmit)="onSubmit()" #applicantForm="ngForm">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" 
          class="form-control" 
          required
          maxlength="30"
          [(ngModel)]="applicant.firstname"
          ngControl="firstname"  
          #firstname="ngForm"
          pattern="/[^a-zA-Z]+/" >
        <div [hidden]="firstname.valid || firstname.untouched">
            <div class="alert alert-danger" *ngIf="firstname.errors && firstname.errors.required">
                First Name is required
            </div>
            <div class="alert alert-danger" *ngIf="firstname.errors && firstname.errors.pattern">
                First Name is invalid
            </div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" 
          class="form-control" 
          required
          maxlength="30"
          [(ngModel)]="applicant.lastname"
          ngControl="lastname"  
          #lastname="ngForm"
          pattern="/[^a-zA-Z]+/" >
        <div [hidden]="lastname.valid || lastname.untouched">
            <div class="alert alert-danger" *ngIf="lastname.errors && lastname.errors.required">
                Last Name is required
            </div>
            <div class="alert alert-danger" *ngIf="lastname.errors && lastname.errors.pattern">
                Last Name is invalid
            </div>
        </div>
      </div>
      
      <div class="form-group">
        <label>Email</label>
        <input id="email"
            class="form-control"
            type="text"
            ngControl="email"
            maxlength="30"
            #email="ngForm"
            [(ngModel)]="applicant.email"
            required
            pattern="^\w+([\.-]?\w+)*&#64;\w+([\.-]?\w+)*(\.\w{2,3})+$">

        <div [hidden]="email.valid || email.untouched">
            <div class="alert alert-danger" *ngIf="email.errors && email.errors.required">
                Email is required
            </div>
            <div class="alert alert-danger" *ngIf="email.errors && email.errors.pattern">
                Email is invalid
            </div>
        </div>
      </div>
   
      <div class="form-group">
        <label for="telephone">Telephone</label>
        <input type="text" 
          class="form-control" 
          required
          maxlength="30"
          [(ngModel)]="applicant.telephone"
          ngControl="telephone"  
          #telephone="ngForm"
          pattern="/^(()?\d{3}())?(-|\s)?\d{3}(-|\s)?\d{4}$/" >
        <div [hidden]="telephone.valid || telephone.untouched">
            <div class="alert alert-danger" *ngIf="telephone.errors && telephone.errors.required">
                Telephone is required
            </div>
            <div class="alert alert-danger" *ngIf="telephone.errors && telephone.errors.pattern">
                Telephone is invalid
            </div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" 
          class="form-control" 
          required
          maxlength="30"
          [(ngModel)]="applicant.address"
          ngControl="address"  
          #address="ngForm"
          pattern="^[a-zA-Z0-9\s,'-]*$" >
        <div [hidden]="address.valid || address.untouched">
            <div class="alert alert-danger" *ngIf="address.errors && address.errors.required">
                Address is required
            </div>
            <div class="alert alert-danger" *ngIf="address.errors && address.errors.pattern">
                Address is invalid
            </div>
        </div>
      </div>
      
      
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" 
          class="form-control" 
          required
          maxlength="30"
          [(ngModel)]="applicant.city"
          ngControl="city"  
          #city="ngForm"
          pattern="/[^a-zA-Z]+/" >
        <div [hidden]="city.valid || city.untouched">
            <div class="alert alert-danger" *ngIf="city.errors && city.errors.required">
                City is required
            </div>
            <div class="alert alert-danger" *ngIf="city.errors && adcitydress.errors.pattern">
                City is invalid
            </div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="zipcode">Zip Code</label>
        <input type="text" 
           class="form-control" 
           required
           maxlength="5"
           minlength="5"
           [(ngModel)]="applicant.zipcode"
           ngControl="zipcode"  
           #zipcode="ngForm"
           pattern="[0-9]{5}" >
        <div [hidden]="zipcode.valid || zipcode.untouched">
            <div class="alert alert-danger" *ngIf="zipcode.errors && zipcode.errors.required">
                Zip Code is required
            </div>
            <div class="alert alert-danger" *ngIf="zipcode.errors && zipcode.errors.pattern">
                Zip Code is invalid
            </div>
        </div>
      </div>
      
      <div class="form-group">
        <div>
        <label for="citizen">United States Citizen</label>
        </div>
        <div class="btn-group">
            <label class="btn btn-primary" [class.active]="applicant.citizen" name="citizen" uib-btn-radio="'Left'" (click)="applicant.citizen = true">Yes</label>
            <label class="btn btn-primary" [class.active]="!applicant.citizen" name="citizen" uib-btn-radio="'Right'" (click)="applicant.citizen = false" checked>No</label>
        </div>
      </div>
      
      <div class="form-group">
        <div>
        <label for="felon">Have you ever comitted a felony?</label>
        </div>
        <div class="btn-group">
            <label class="btn btn-primary" [class.active]="applicant.felon" name="felon" uib-btn-radio="'true'" (click)="applicant.felon = true">Yes</label>
            <label class="btn btn-primary" [class.active]="!applicant.felon" name="felon" uib-btn-radio="'false'" (click)="applicant.felon = false" checked>No</label>
        </div>
      </div>
      
      <div class="form-group">
        <div>
        <label for="feloncomment">If yes, please explain</label>
        </div>
        <textarea class="form-control" 
            rows="5" 
            id="comment"
            maxlength="1000"
            [(ngModel)]="applicant.feloncomment"
            ngControl="feloncomment"  
            #feloncomment="ngForm">
        </textarea>
      </div>
      
      <div class="form-group">
        <label for="desiredposition">Desired Position</label>
        <select class="form-control" 
          required
          maxlength="30"
          [(ngModel)]="applicant.desiredposition"
          ngControl="desiredposition" 
          #desiredposition="ngForm"
          pattern="/[^a-zA-Z]+/" >
            <option *ngFor="#p of positions" [value]="p">{{p}}</option>
        </select>
        <div [hidden]="desiredposition.valid || desiredposition.untouched">
            <div class="alert alert-danger" *ngIf="desiredposition.errors && desiredposition.errors.required">
                Desired Position is required
            </div>
            <div class="alert alert-danger" *ngIf="desiredposition.errors && desiredposition.errors.pattern">
                Desired Position is invalid
            </div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="desiredwage">Desired Wage</label>
        <input type="text" 
          class="form-control" 
          required
          maxlength="30"
          [(ngModel)]="applicant.desiredwage"
          ngControl="desiredwage"  
          #desiredwage="ngForm"
          pattern="^\$?\-?([1-9]{1}[0-9]{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))$|^\-?\$?([1-9]{1}\d{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))$|^\(\$?([1-9]{1}\d{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))\)$" >
        <div [hidden]="desiredwage.valid || desiredwage.untouched">
            <div class="alert alert-danger" *ngIf="desiredwage.errors && desiredwage.errors.required">
                Desired Wage is required
            </div>
            <div class="alert alert-danger" *ngIf="desiredwage.errors && desiredwage.errors.pattern">
                Desired Wage is invalid
            </div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="employername1">Previous Employer Name</label>
        <input type="text" 
          class="form-control" 
          [(ngModel)]="applicant.employers[0].name"
          ngControl="employername1"  
          #employername1="ngForm"
          pattern="/[^a-zA-Z]+/" >
          <div [hidden]="employers[0].name.valid || employers[0].name.untouched">
            <div class="alert alert-danger" *ngIf="employers[0].name.errors && employers[0].name.errors.pattern">
                Previous Employer Name is invalid
            </div>
          </div>
      </div>
      
      <div class="form-group">
        <label for="employertitle1">Previous Position Title</label>
        <input type="text" 
          class="form-control" 
          maxlength="30"
          [(ngModel)]="applicant.employers[0].title"
          ngControl="employertitle1"  
          #employertitle1="ngForm"
          pattern="/[^a-zA-Z]+/" >
          <div [hidden]="employers[0].title.valid || employers[0].title.untouched">
            <div class="alert alert-danger" *ngIf="employers[0].title.errors && employers[0].title.errors.pattern">
                Previous Position Title is invalid
            </div>
          </div>
      </div>
      
      <div class="form-group">
        <label for="employerwage1">Previous Wage</label>
        <input type="text" class="form-control" 
          maxlength="10"
          [(ngModel)]="applicant.employers[0].wage"
          ngControl="employerwage1"  
          #employerwage1="ngForm"
          pattern="^\$?\-?([1-9]{1}[0-9]{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))$|^\-?\$?([1-9]{1}\d{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))$|^\(\$?([1-9]{1}\d{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))\)$" >
          <div [hidden]="employers[0].wage.valid || employers[0].wage.untouched">
            <div class="alert alert-danger" *ngIf="employers[0].wage.errors && employers[0].wage.errors.pattern">
                Previous Wage is invalid
            </div>
          </div>
      </div>
      
      <div class="form-group">
        <div>
        <label for="employerpermission1">Permission to Contact?</label>
        </div>
        <div class="btn-group">
            <label class="btn btn-primary" [class.active]="applicant.employers[0].permissiontocontact" name="felon" uib-btn-radio="'true'" (click)="applicant.employers[0].permissiontocontact = true">Yes</label>
            <label class="btn btn-primary" [class.active]="!applicant.employers[0].permissiontocontact" name="felon" uib-btn-radio="'false'" (click)="applicant.employers[0].permissiontocontact = false" checked>No</label>
        </div>
      </div>
      
      <div class="form-group">
        <label for="employername2">Previous Employer Name</label>
        <input type="text" class="form-control"
          maxlength="30" 
          [(ngModel)]="applicant.employers[1].name"
          ngControl="employername2"  
          #employername2="ngForm"
          pattern="/[^a-zA-Z]+/" >
          <div [hidden]="employers[1].name.valid || employers[1].name.untouched">
            <div class="alert alert-danger" *ngIf="employers[1].name.errors && employers[1].name.errors.pattern">
                Previous Employer Name is invalid
            </div>
          </div>
      </div>
      
      <div class="form-group">
        <label for="employertitle2">Previous Position Title</label>
        <input type="text" class="form-control"
          maxlength="30"
          [(ngModel)]="applicant.employers[1].title"
          ngControl="employertitle2"  
          #employertitle2="ngForm"
          pattern="/[^a-zA-Z]+/" >
          <div [hidden]="employers[1].title.valid || employers[1].title.untouched">
            <div class="alert alert-danger" *ngIf="employers[1].title.errors && employers[1].title.errors.pattern">
                Previous Position Title is invalid
            </div>
          </div>
      </div>
      
      <div class="form-group">
        <label for="employerwage2">Previous Wage</label>
        <input type="text" class="form-control" 
          maxlength="10"
          [(ngModel)]="applicant.employers[1].wage"
          ngControl="employerwage2"  
          #employerwage2="ngForm"
          pattern="^\$?\-?([1-9]{1}[0-9]{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))$|^\-?\$?([1-9]{1}\d{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))$|^\(\$?([1-9]{1}\d{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))\)$" >
          <div [hidden]="employers[1].wage.valid || employers[1].wage.untouched">
            <div class="alert alert-danger" *ngIf="employers[1].wage.errors && employers[1].wage.errors.pattern">
                Previous Wage is invalid
            </div>
          </div>
      </div>
      
      <div class="form-group">
        <div>
        <label for="employerpermission2">Permission to Contact?</label>
        </div>
        <div class="btn-group">
            <label class="btn btn-primary" [class.active]="applicant.employers[1].permissiontocontact" name="felon" uib-btn-radio="'true'" (click)="applicant.employers[1].permissiontocontact = true">Yes</label>
            <label class="btn btn-primary" [class.active]="!applicant.employers[1].permissiontocontact" name="felon" uib-btn-radio="'false'" (click)="applicant.employers[1].permissiontocontact = false" checked>No</label>
        </div>
      </div>
      
            <div class="form-group">
        <label for="employername3">Previous Employer Name</label>
        <input type="text" class="form-control" 
          maxlength="30"
          [(ngModel)]="applicant.employers[2].name"
          ngControl="employername3"  
          #employername3="ngForm"
          pattern="/[^a-zA-Z]+/" >
          <div [hidden]="employers[2].name.valid || employers[2].name.untouched">
            <div class="alert alert-danger" *ngIf="employers[2].name.errors && employers[2].name.errors.pattern">
                Previous Employer Name is invalid
            </div>
          </div>
      </div>
      
      <div class="form-group">
        <label for="employertitle3">Previous Position Title</label>
        <input type="text" class="form-control" 
          maxlength="30"
          [(ngModel)]="applicant.employers[2].title"
          ngControl="employertitle3" 
          #employertitle3="ngForm"
          pattern="/[^a-zA-Z]+/" >
          <div [hidden]="employers[2].title.valid || employers[2].title.untouched">
            <div class="alert alert-danger" *ngIf="employers[2].title.errors && employers[2].title.errors.pattern">
                Previous Position Title is invalid
            </div>
          </div>
      </div>
      
      <div class="form-group">
        <label for="employerwage3">Previous Wage</label>
        <input type="text" class="form-control" 
          maxlength="10"
          [(ngModel)]="applicant.employers[2].wage"
          ngControl="employerwage3"  
          #employerwage3="ngForm"
          pattern="^\$?\-?([1-9]{1}[0-9]{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))$|^\-?\$?([1-9]{1}\d{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))$|^\(\$?([1-9]{1}\d{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))\)$" >
          <div [hidden]="employers[2].wage.valid || employers[2].wage.untouched">
            <div class="alert alert-danger" *ngIf="employers[2].wage.errors && employers[2].wage.errors.pattern">
                Previous Wage is invalid
            </div>
          </div>
      </div>
      
      <div class="form-group">
        <div>
        <label for="employerpermission3">Permission to Contact?</label>
        </div>
        <div class="btn-group">
            <label class="btn btn-primary" [class.active]="applicant.employers[2].permissiontocontact" name="felon" uib-btn-radio="'true'" (click)="applicant.employers[2].permissiontocontact = true">Yes</label>
            <label class="btn btn-primary" [class.active]="!applicant.employers[2].permissiontocontact" name="felon" uib-btn-radio="'false'" (click)="applicant.employers[2].permissiontocontact = false" checked>No</label>
        </div>
      </div>
      
      <div class="recaptcha"></div>      
      
      <button type="submit" class="btn btn-default" [disabled]="!applicantForm.form.valid">Submit</button>

      <button type="button" class="btn btn-default" (click)="newApplicant()">Clear</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">First Name</div>
      <div class="col-xs-9  pull-left">{{ applicant.firstname }}</div>
    </div>
        <div class="row">
      <div class="col-xs-3">Last Name</div>
      <div class="col-xs-9  pull-left">{{ applicant.lastname }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Email</div>
      <div class="col-xs-9  pull-left">{{ applicant.email }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Telephone</div>
      <div class="col-xs-9  pull-left">{{ applicant.telephone }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Address</div>
      <div class="col-xs-9  pull-left">{{ applicant.address }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">City</div>
      <div class="col-xs-9  pull-left">{{ applicant.city }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Zip Code</div>
      <div class="col-xs-9  pull-left">{{ applicant.zipcode }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">U.S. Citizen</div>
      <div class="col-xs-9  pull-left">{{ applicant.citizen }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Felon Status</div>
      <div class="col-xs-9  pull-left">{{ applicant.felon }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Felony Explanation</div>
      <div class="col-xs-9  pull-left">{{ applicant.feloncomment }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Desired Position</div>
      <div class="col-xs-9  pull-left">{{ applicant.desiredposition }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Desired Wage</div>
      <div class="col-xs-9  pull-left">{{ applicant.desiredwage }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Employer 1 Name</div>
      <div class="col-xs-9  pull-left">{{ applicant.employers[0].name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Employer 1 Position</div>
      <div class="col-xs-9  pull-left">{{ applicant.employers[0].title }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Employer 1 Wage</div>
      <div class="col-xs-9  pull-left">{{ applicant.employers[0].wage }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Employer 1 Permission to Contact</div>
      <div class="col-xs-9  pull-left">{{ applicant.employers[0].permissiontocontact }}</div>
    </div>
        <div class="row">
      <div class="col-xs-3">Employer 2 Name</div>
      <div class="col-xs-9  pull-left">{{ applicant.employers[1].name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Employer 2 Position</div>
      <div class="col-xs-9  pull-left">{{ applicant.employers[1].title }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Employer 2 Wage</div>
      <div class="col-xs-9  pull-left">{{ applicant.employers[1].wage }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Employer 2 Permission to Contact</div>
      <div class="col-xs-9  pull-left">{{ applicant.employers[1].permissiontocontact }}</div>
    </div>
        <div class="row">
      <div class="col-xs-3">Employer 3 Name</div>
      <div class="col-xs-9  pull-left">{{ applicant.employers[2].name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Employer 3 Position</div>
      <div class="col-xs-9  pull-left">{{ applicant.employers[2].title }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Employer 3 Wage</div>
      <div class="col-xs-9  pull-left">{{ applicant.employers[2].wage }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Employer 3 Permission to Contact</div>
      <div class="col-xs-9  pull-left">{{ applicant.employers[2].permissiontocontact }}</div>
    </div>

    <br>
    <button class="btn btn-default" (click)="submitted=false">Edit</button>
  </div>
</div>

  <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
  